{{ define "get_rpc_call_info.tmpl" }}
<html xmlns= "http://www.w3.org/1999/xhtml" >
<head>
<meta http-equiv= "Content-Type" content= "text/html; charset=utf-8" />
<title> {{.title}}</title>
<style type= "text/css" >
body {
    font :12px “ Microsoft Sans Serif” ;
}
.TextStyle{
    width :300px ;
    height :16px ;
    line-height :16px ;
    border :1px solid #006699 ;
    font :12px "Microsoft Sans Serif" ;
    padding :2px ;
    color :#006699 ;
}
</style>
<script type= "text/javascript" >
    //Copyright 2008
    //by 小吴同学 QQ:100052800
    //Date 2008-11-25

    //创建 input 文本框
    function CreateInput(){
        {{range $i, $v :=.slice}}
            var label = document.createElement("label")
            label.innerHTML = "{{$v}}"
            label.for = {{$i}}
            document.getElementById("input_form").appendChild(label)

        	var input = document.createElement("input" );
        	input.type = "text" ;
        	input.id = {{$i}} ;
        	input.form = "input_form"
        	input.name = {{$v }};
        	//如果使用CSS定义input样式 可以用 className 指定样式名，如用JS创建，放开下面的注释即可
        	input.className = "TextStyle" ;
        	document.getElementById("input_form" ).appendChild(input);
        {{end}}
    }
</script>

</head>

<body onload= "CreateInput()" >
    <div id= "showText" >
    	<form id="input_form" action="/interfaces/postRpc/{{.name}}" method="post">
    		<input type="submit" value="Submit">
    	</form>
    </div>
    <!--<input type= "button" onclick= "alert(document.getElementById('inputText').value)" value= "获取创建文本框的值" />-->
</body>
</html>
{{ end }}